<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title><html class="desktop mbr-site-loaded" style=""><head>
  <!-- Site made with Mobirise Online Website Builder v5.9.13, https://a.mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.13, a.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/photo-1710356134123-3fc4cf9c6187.jpeg" type="image/x-icon">
  <meta name="description" content="Step into the captivating world of Carthaginian and Romanian civilizations, where art, architecture, and traditions come alive in a digital sanctuary.">
  <title>Ancient Civilizations Rediscovered</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/bootstrap/css/bootstrap.min.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/dropdown/css/style.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/socicon/css/styles.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/theme/css/style.css?rnd=1713131951709">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&amp;display=swap&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/390103/assets/css/mbr-additional.css?rnd=1713131951709" type="text/css">
  
  
  
  
<script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/7ebf4817/www-widgetapi.vflset/www-widgetapi.js" async=""></script><script async="" src="https://www.youtube.com/iframe_api"></script></head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-u9XhpXdBqc" once="menu" id="menu-5-u9XhpXdBqc">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg navbar-short">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="https://mobiri.se">
						<img src="assets/images/photo-1710356134123-3fc4cf9c6187.jpeg" alt="Mobirise Website Builder" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="https://mobiri.se">CarthagoArts</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Carthage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se" aria-expanded="false">Romania</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Explore</a>
					</li></ul>
				
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="https://mobiri.se">Uncover Now</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header16 cid-u9XiAZdcQ0 mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=hCI4yaORFzw" id="header17-0"><div class="mbr-background-video-preview" style="display: block; background-size: cover; background-position: center center; background-image: url(&quot;http://img.youtube.com/vi/hCI4yaORFzw/maxresdefault.jpg&quot;);"></div><div style="overflow: hidden; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;"><div style="background: rgb(0, 0, 0); inset: 0px;"><div class="mbr-video-foreground" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden;"><iframe class="mbr-background-video" id="ytplayer-e3f5a5" style="margin-top: 0px; max-width: initial; transition-property: opacity; transition-duration: 1000ms; pointer-events: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transform: scale(1.2);" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="TUNISIA - Cinematic Travel film" width="1536" height="864" src="https://www.youtube.com/embed/hCI4yaORFzw?autoplay=1&amp;mute=0&amp;controls=0&amp;enablejsapi=1&amp;allowfullscreen=true&amp;iv_load_policy=3&amp;modestbranding=1&amp;origin=*&amp;rel=0&amp;mode=transparent&amp;showinfo=0&amp;html5=1&amp;version=3&amp;playerapiid=iframe_YTP_1624972482514&amp;widgetid=1"></iframe></div></div></div>
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>CarthagoArts</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Plongez dans l'Histoire : Vivez l'Antiquité dans notre Musée Virtuel</p>
        <div class="mbr-section-btn"><a class="btn btn-white-outline display-7" href="https://mobiri.se">Learn More</a></div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article4 cid-u9XhpXfN3s" id="about-me-4-u9XhpXfN3s">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/photo-1585979701075-24a9b2f9d-h_lv01essj.jpg" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Notre Vision</strong>
					</h1>
					<p class="mbr-text mbr-fonts-style mb-3 display-7">Bienvenue à CarthagoArts, où l'histoire de la magnifique civilisation de Carthage prend vie.&nbsp;<br></p>

					<p class="mbr-text mbr-fonts-style mb-3 display-7">À travers notre musée virtuel, explorez des expositions immersives qui célèbrent le riche héritage de cette métropole antique, de ses exploits maritimes à ses innovations architecturales.</p>
					<p class="mbr-text mbr-fonts-style mb-3 display-7"> Nous vous invitons à découvrir, apprendre et vous inspirer du passé glorieux de Carthage, rendu accessible grâce à la technologie moderne. Plongez dans un voyage à travers le temps et l'espace, et laissez-vous captiver par le monde carthaginois </p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="article13 cid-u9XhpXfaCS" id="call-to-action-3-u9XhpXfaCS">
    
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style display-2">
                            <strong>Ready to Explore the Past?</strong>
                        </h4>
                        
                        <div class="mbr-section-btn mt-4"><a class="btn btn-primary display-4" href="https://mobiri.se">Begin Journey</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features38 cid-u9XhpXf7J5" id="features-67-u9XhpXf7J5">
    

    
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Interactive Time Travel</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Embark on a virtual journey through the captivating history of Carthaginian and Romanian civilizations.</p>
                    <div class="mbr-section-btn align-left mt-3">
                        <a class="btn btn-primary display-7" href="https://mobiri.se">Start Exploring</a>
                    </div>
                </div>
            </div>
            <iframe src="https://lumalabs.ai/embed/822bac8d-70d6-404e-aaae-f89f46672c67?mode=sparkles&background=%23ffffff&color=%23000000&showTitle=true&loadBg=true&logoPosition=bottom-left&infoPosition=bottom-right&cinematicVideo=undefined&showMenu=false" width="375" height="500" frameborder="0" title="luma embed" style="border: none;"></iframe>

            <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/loaders/GLTFLoader.js"></script>
        </div>
        <div class="row row-reverse justify-content-center">

            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Dynamic Cultural Fusion</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Experience the seamless blend of art, architecture, and traditions in a digital sanctuary like never before.</p>
                    <div class="mbr-section-btn align-left mt-3">
                    <a class="btn btn-primary display-7" href="https://mobiri.se">Start Exploring</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <iframe src="https://lumalabs.ai/embed/1b5f3e33-3900-4398-8795-b585ae13fd2d?mode=video&background=%23ffffff&color=%23000000&showTitle=true&loadBg=true&logoPosition=bottom-left&infoPosition=bottom-right&cinematicVideo=undefined&showMenu=false" width="500" height="500" frameborder="0" title="luma embed" style="border: none;"></iframe>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Engaging Discovery</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Uncover the hidden gems of the past with interactive storytelling and immersive visuals.</p>
                    <div class="mbr-section-btn align-left mt-3">
                    <a class="btn btn-primary display-7" href="https://mobiri.se">Start Exploring</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <iframe src="https://lumalabs.ai/embed/79016186-c892-4956-a256-2f6c00ca6ce0?mode=video&background=%23ffffff&color=%23000000&showTitle=true&loadBg=true&logoPosition=bottom-left&infoPosition=bottom-right&cinematicVideo=undefined&showMenu=false" width="376" height="500" frameborder="0" title="luma embed" style="border: none;"></iframe>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features017 mbr-embla cid-u9Xrfjqr5O" id="features017-1">
	
	
	<div class="position-relative">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 content-head">
					<div class="mbr-section-head mb-5">
						<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
							<strong>Services</strong>
						</h4>
						<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">
							To add more cards, hover on a card and click 'Add items'
						</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
			<div class="embla__viewport container-fluid is-draggable">
				<div class="embla__container" style="transform: translate3d(-1.87266%, 0px, 0px);">
					<div class="embla__slide slider-image item active is-selected" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop1.jpg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>

							<div class="mbr-section-btn item-footer mt-2"><a href="{{path('app_test1')}}" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a></div>
						</div>
					</div>
					<div class="embla__slide slider-image item is-selected" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop2.jpg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2"><a href="index.html#header17-0" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a></div>
						</div>
					</div>
					<div class="embla__slide slider-image item is-selected" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop3.jpg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a></div>
						</div>
					</div>
					<div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop4.jpg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a>
							</div>
						</div>
					</div>
					<div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop5.jpg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a>
							</div>
						</div>
					</div>
					<div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop6.jpg" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a>
							</div>
						</div>
					</div>
					<div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
						<div class="slide-content">
							<div class="item-img">
								<div class="item-wrapper">
									<img src="assets/images/shop7.jpg" alt="Mobirise Website Builder" title="" data-slide-to="7" data-bs-slide-to="7">
								</div>
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-5">
									<strong>Design</strong>
								</h5>
								
								<p class="mbr-text mbr-fonts-style mt-3 display-7">
									Mobirise is an easy website builder. Just drop site elements to your page, add
									content and style it to look the way you like.
								</p>
							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a>
							</div>
						</div>
					</div>
					<div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
					<div class="slide-content">
						<div class="item-img">
							<div class="item-wrapper">
								<img src="assets/images/shop0.jpg" alt="Mobirise Website Builder" title="" data-slide-to="8" data-bs-slide-to="8">
							</div>
						</div>
						<div class="item-content">
							<h5 class="item-title mbr-fonts-style display-5">
								<strong>Design</strong>
							</h5>
							
							<p class="mbr-text mbr-fonts-style mt-3 display-7">
								Mobirise is an easy website builder. Just drop site elements to your page, add
								content and style it to look the way you like.
							</p>
						</div>
						<div class="mbr-section-btn item-footer mt-2">
							<a href="" class="btn item-btn btn-primary display-7" target="_blank">Start Now</a>
						</div>
					</div>
					</div>
				</div>
			</div>
			<button class="embla__button embla__button--prev" disabled="disabled">
				<span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
				<span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
			</button>
			<button class="embla__button embla__button--next">
				<span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
				<span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
			</button>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="people03 cid-u9XsaSGGdY" id="people03-2">
	
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
						<strong>Meet the creators</strong>
					</h4>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="assets/images/team1-h_lv01xbsb.jpg" alt="Mobirise Website Builder" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Abene Nour</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">&nbsp;</h6>
						
					</div>
					
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="assets/images/team2-h_lv024lyx.jpg" alt="Mobirise Website Builder" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Gaddour Med Amine</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">&nbsp;</h6>
						
					</div>
					
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="assets/images/team3-h_lv025uuq.jpg" alt="Mobirise Website Builder" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Ahmed Nawres</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">&nbsp;</h6>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="image3 cid-u9XhpXgHvj" id="image-3-u9XhpXgHvj">
  

  
  

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <h4 class="mbr-description mbr-fonts-style mb-3 align-center display-5">
          <strong>Visual Splendor</strong>
        </h4>
        
        <div class="image-wrapper">
          <img class="w-100" src="assets/images/photo-1595340933493-f1afef520117.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="social05 cid-u9XhpXgvpf" id="follow-us-2-u9XhpXgvpf">
    

    

    <div class="container">
        <div class="row">
            <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                <strong>Stay Connected</strong>
            </h3>
            <div class="col-12">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients04 cid-u9XhpXhuIP" id="sponsors-1-u9XhpXhuIP">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Cultural Collaborations</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            
            
            
            
            
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1617727553252-65863c156-h_lv01j26q.jpg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-u9XhpXhF2V" id="contact-form-2-u9XhpXhF2V">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Connect With Us</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="MHYxgUMIjGNNvo2H779DjpkDqAZVstT/iwrart1EWMbWdSdsGoZdo+OPAU4Err1rdBEuA/NFHvtA4yDXcrpO9NgA71A8+8ikAUhPEflIdFrZctObgBdaDqJjloTQ8Jxr">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-2-u9XhpXhF2V">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-2-u9XhpXhF2V">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-2-u9XhpXhF2V"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-u9XhpXhQIZ" id="contacts-1-u9XhpXhQIZ">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Reach Out</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Location</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7"> Tunisia</p>
                    </div>
                </div>
            </div><div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+1 123-456-7890" class="text-black">+1 123-456-7890</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@virtualmuseum.com" class="text-black">info@virtualmuseum.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Opening Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Mon - Fri: 9am - 6pm</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-u9XhpXh1x7" once="footers" id="footer-3-u9XhpXh1x7">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Explore</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Discover</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Learn</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Journey</a>
                  </li></ul>
              </div>

            <div class="col-12 mt-4">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2024 Virtual Museum. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/vimeoplayer/player.js"></script>
  <script src="assets/embla/embla.min.js"></script>
  <script src="assets/embla/script.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
  

</body></html>

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{asset('index.html')}}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{asset('index.html')}}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{asset('#')}}')}}" data-toggle="collapse" data-target="#collapseTwo"aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="{{asset('buttons.html')}}">Buttons</a>
                        <a class="collapse-item" href="{{asset('cards.html')}}">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{asset('#')}}" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="{{asset('utilities-color.html')}}">Colors</a>
                        <a class="collapse-item" href="{{asset('utilities-border.html')}}">Borders</a>
                        <a class="collapse-item" href="{{asset('utilities-animation.html')}}">Animations</a>
                        <a class="collapse-item" href="{{asset('utilities-other.html')}}">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{asset('#')}}" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="{{asset('login.html')}}">Login</a>
                        <a class="collapse-item" href="{{asset('register.html')}}">Register</a>
                        <a class="collapse-item" href="{{asset('forgot-password.html')}}">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="{{asset('404.html')}}">404 Page</a>
                        <a class="collapse-item" href="{{asset('blank.html')}}">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{{asset('charts.html')}}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{{asset('tables.html')}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="{{asset('https://startbootstrap.com/theme/sb-admin-pro')}}">Upgrade to Pro!</a>
            </div>

        </ul>

     
        <main>

         {% block content %}

          {% endblock %}
        
        </main>
        {% block footer %}
       
<footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="{{asset('#')}}page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{asset('login.html')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="jss/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="jss/demo/chart-area-demo.js"></script>
    <script src="jss/demo/chart-pie-demo.js"></script>
    </footer>
    {% endblock %}

</body>

</html>